@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

body {
    background: linear-gradient(#FFFFFF,#E6E6E6,#808080);
}

.container {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    padding-right: 50%;
}
.Metrolínea_logo {
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
    position: absolute;
    z-index: 1;
}
.line1 {
    top: 285px;
    left: 1060px;
    width: 146px;
    height: 0px;
    border: 2px solid var(--unnamed-color-212020);
    background: transparent url('img/Line 1.png') 0% 0% no-repeat padding-box;
    border: 2px solid #212020;
    opacity: 1;
    position: absolute;
    z-index: 1;
}
.tarjeta-metrolinea {
    position: absolute;
    z-index: 1;
    top: 303px;
    left: 459px;
    width: 576px;
    height: 324px;
}
.rectagle3 {
    position:relative;
    z-index: -1;
    width: 1400px;
    height: 800px;
    top: 200px;
    left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
}
.rectangle1 {
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
    position: absolute;
    z-index: 1;
    border-radius: 0px 8px 8px 0px;
}
.icon-busqueda {
    top: 244px;
    left: 1224px;
    width: 27px;
    height: 27px;
    position:absolute;
    z-index: 1;
}
.icon-carrito {
    top: 244px;
    left: 1324px;
    width: 33px;
    height: 32px;
    position:absolute;
    z-index: 1;
}
.icon-arrow-up {
    top: 240px;
    left: 1433px;
    width: 24px;
    height: 14px;
    position: absolute;
    z-index: 1;
}

.icon-arrow-down {
    top: 946px;
    left: 1433px;
    width: 24px;
    height: 14px;
    position: absolute;
    z-index: 1;
}
.rectangle2 {
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
}

.Metrolínea_logo-2 {
    top: 876px;
    left: 1195px;
    width: 129px;
    height: 29px;
    position: absolute;
    z-index: 1;
}
.ver {
    top: 242px;
    left: 1072px;
    width: 132px;
    height: 41px;
    position: absolute;
    z-index: 1;
    font-style: 'Open Sans' 'Regular';
    font-size: 30px;
    text-align: left;
}

.descripcion1 {
    top: 600px;
    left: 401px;
    width: 700px;
    height: 55px;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    font-style: 'Open Sans','Semibold';
    font-weight: 550;
    text-align: left;
}
.precio-1 {
    top: 507px;
    left: 1417px;
    width: 57px;
    height: 27px;
    position: absolute;
    z-index: 1;
    color: #FFFFFF80;
    text-align: center;
}

.precio-2 {
    top: 587px;
    left: 1417px;
    width: 57px;
    height: 27px;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    text-align: center;
}

.precio-3 {
    top: 667px;
    left: 1417px;
    width: 57px;
    height: 27px;
    position: absolute;
    z-index: 1;
    color: #FFFFFF80;
    text-align: center;
}
.valor {
    top: 349px;
    left: 1403px;
    width: 84px;
    height: 27px;
    position: absolute;
    z-index: 1;
    font-style: 'Open Sans';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
.saldoActual {
    top: 677px;
    left: 583px;
    width: 329px;
    height: 37px;
    position: absolute;
    z-index: 1;
    font-size: 27px;
    font-style: 'Open Sans';
    font-weight: 600;
    text-align: left;
}
.saldoEscogido {
    top: 744px;
    left: 639px;
    width: 200px;
    height: 37px;
    position: absolute;
    z-index: 1;
    font-size: 27px;
    font-style: 'Open Sans';
    font-weight: 600;
    text-align: left;
}
.RecargarLogo {
    top: 917px;
    left: 1205px;
    width: 111px;
    height: 36px;
    font-size: 26px;
    font-style: 'Open Sans';
    font-weight: 600;
    position: absolute;
    z-index: 1;
    text-align: center;
}
.compra {
    position: absolute;
    z-index: 1;
    top: 240px;
    left: 800px;
    width: 230px;
    height: 41px;
    font-style: 'Opens Sans';
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}
.button-1 {
    top: 799px;
    left: 595px;
    width: 288px;
    height: 58px;
    position: absolute;
    z-index: 1;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    background-color: #FFFFFF;
text-align: center;
    p {
        color: #000000;
        font-size: 27px;
        opacity: 0.5;
    }
}


